HBox, VBox {
    -fx-spacing: 5;
    -fx-padding: 5;
}

#labels {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

Button, Label{
    -fx-max-width: 150;
}
